
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/WaveReconstruction.iml
__pycache__/finit_module.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/method.cpython-39.pyc
__pycache__/splines.cpython-39.pyc
*.pyc
*.npy
visual.ipynb